<!DOCTYPE html>
<html>

<head></head>

<body>
  <div class="header-top">
    <a
      class="icon tooltip"
      href="javascript:void(0);"
      onclick="toggleLanguage()"
    >
      <span
        class="trn tooltip-label message"
        data-trn-key="global.languagesTooltip"
      >Español -> Inglés</span>
      <i class="fa fa-solid fa-globe"></i>
    </a>

    <div class="spacer"></div>
    <a
      href="#about"
      class="router-link"
      onclick="onRouterClicked()"
    >
      <i class="fa fa-id-card"></i>
      <span
        class="trn"
        data-trn-key="nav.about"
      >Acerca de</span>
    </a>

    <a
      class="brand-name"
      href="index.html#home"
    >
      <img
        class="logo"
        src="images/logo_1.png"
        alt="CryptoShalix. Portfolio"
      >
    </a>

    <a
      href="#contact"
      class="router-link"
      onclick="onRouterClicked()"
    >
      <i class="fa fa-message"></i>
      <span
        class="trn"
        data-trn-key="nav.contact"
      >Contactar</span>
    </a>

    <div class="spacer"></div>

    <a
      class="icon tooltip"
      href="https://github.com/CryptoShalix"
      target="_blank"
    >
      <span
        class="trn tooltip-label message"
        data-trn-key="global.github"
      >@CryptoShalix</span>
      <i class="fa fa-brands fa-github"></i>
    </a>
  </div>
</body>

</html>
